<a href="https://colab.research.google.com/github/Vedant817/Python-Assignements/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question *1*

(i)

In [14]:
# import math as m
L=[11,12,13,14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

(ii)

In [15]:
L.remove(13)
L.pop(0)
print(L)
# print(type(L))

[12, 14, 50, 60]

(iii)

In [16]:
L.sort()
print(L)

[12, 14, 50, 60]

(iv)

In [17]:
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

(v)

In [18]:
i=0
for item in L:
  if(i<(len(L)-1)):
    if (L[i]==13):
      print(f"The index of 13 is {i}")
      exit()
    else:
      i+=1
  if(i==(len(L)-1)):
    print("13 doesn't exits")
    exit()

13 doesn't exits
13 doesn't exits

(vi)

In [19]:
i=0
for items in L:
  i+=1
print(f"Number of elements is {i}")

Number of elements is 4

(vii)

In [20]:
add=0
i=0
for items in L:
  add+=L[i]
  i+=1
print(f"The sum of all the elements is {add}")

The sum of all the elements is 136

(viii)

In [21]:
sum_odd=0
for items in L:
  if items%2!=0:
    sum_odd+=L[items]
print(sum_odd)

0

(ix)

In [22]:
sum_even=0
for items in L:
  if items%2==0:
    sum_even+=items
print(sum_even)

136

(x)

In [23]:
sum_prime=0
for items in L:
  x=0
  for i in range(2,item//2):
    if(items%i==0):
      x+=1
  if(x==0):
    sum_prime+=items
print(f"The sum of prime number is {sum_prime}")

The sum of prime number is 0

(xi)

In [24]:
L.clear()
print(L)

[]

(xii)

In [25]:
del L

Question 2

(i)

In [26]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii)

In [27]:
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(iii)

In [28]:
for item in D:
  if D.keys()==6:
    print("Exists")

(iv)

In [29]:
i=0
for items in D:
  i+=1
print(f"The Number of Elements is {i}")

The Number of Elements is 5

(v)

In [30]:
add=0
for items in D:
  add+=D[items]
print(f"The sum of elements is {add}")

The sum of elements is 37.4

(vi)

In [31]:
D[3]=7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

(vii)

In [32]:
D.clear()

Question 3

(i)

In [33]:
S1={10, 20, 30, 40, 50, 60}
S2={40, 50, 60, 70, 80, 90}
S1.add(55)
S1.add(66)
print(S1)

{50, 66, 20, 55, 40, 10, 60, 30}

(ii)

In [34]:
S1.remove(10)
S1.remove(30)
print(S1)

{50, 66, 20, 55, 40, 60}

(iii)

In [35]:
for items in S1:
  if items==40:
    print("Exist")

Exist

(iv)

In [36]:
print(S1.union(S2))

{66, 70, 40, 80, 50, 20, 55, 90, 60}

(v)

In [37]:
S3=S1.intersection(S2)
print(S3)

{40, 50, 60}

(vi)

In [38]:
S4=S1-S2
print(S4)

{66, 20, 55}

Question 4

(i)

In [39]:
import string as s
import random as r
i=1
while i<=100:
  names=r.sample(s.ascii_letters, 6)
  names="".join(names)
  print(names)
  i+=1

SHlcpW
ASstKE
bnwzED
mVepWC
OtlBQn
xobRPf
XSsvYc
fxOyDR
RfydFM
xqOehK
ERJDvP
eQVKmd
sMmXYF
nYATNv
uYInrO
VBCqsb
soyZbK
SgRBux
WSyabv
ngUiel
MRlJEr
tQAaWL
CofrBK
UnAzlY
megPWR
IZbagD
WNpleC
pXjixC
viYLud
yonQhV
rmDRIJ
USiAoV
MmQenf
GpCAtu
gvXmsx
XyIpdf
xDFktJ
iwYIGa
UPuAWj
tdzeqA
IyUzDE
VmaKoQ
ZklvHT
BFCQVy
UeqEub
uUPvAZ
edGogy
AnhBaR
vsVuDJ
ASdgYt
KwngIH
CcbAXq
DjxlFJ
BVqIUl
vsEngo
gOzNln
HpLyif
dPNioj
tIyaPl
DisBhF
MXEkfS
acEiNG
JLPyKt
flIWmQ
LJfIwT
giqdHO
ycaMhi
RQOYtL
gQXivF
TXzWFG
YugLdn
LpAdcw
EUaPGN
mNZxVy
ZkIOau
KIiaBg
mSkCcB
qWXRhT
msDkwM
kSQFOY
ecrLip
GVcXAF
VaeqyK
QUmwAC
NEFOAY
QHNWJM
bzUNrL
eFLlUQ
gByNkI
eKtWjA
FxCUad
kVfbFa
TNgVFl
jBptMy
KDlztJ
tkLFGM
EgCudB
lpMASg
aoVAqr
BLSkDt

(ii)

In [1]:
for i in range(600,800):
  x=0
  for a in range(2,(i//2)+1):
    if i%a==0:
      x+=1
  if x==0:
    print(f"{i} is a prime number")

601 is a prime number
607 is a prime number
613 is a prime number
617 is a prime number
619 is a prime number
631 is a prime number
641 is a prime number
643 is a prime number
647 is a prime number
653 is a prime number
659 is a prime number
661 is a prime number
673 is a prime number
677 is a prime number
683 is a prime number
691 is a prime number
701 is a prime number
709 is a prime number
719 is a prime number
727 is a prime number
733 is a prime number
739 is a prime number
743 is a prime number
751 is a prime number
757 is a prime number
761 is a prime number
769 is a prime number
773 is a prime number
787 is a prime number
797 is a prime number

(iii)

In [2]:
for items in range(100,1000):
  if items%7==0 and items%9==0:
    print(items)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

Question 5

(i)

In [10]:
import random as r
L1=[]
L2=[]
for i in range(10):
    L1.append(r.randint(10,30))
    L2.append(r.randint(10,30))
print(L1)
print(L2)

[27, 27, 14, 24, 23, 17, 23, 28, 15, 15]
[26, 21, 11, 10, 30, 12, 16, 19, 13, 13]

(ii)

In [11]:
for items in L1:
  x=0
  for i in L2:
    if items==i:
     x+=1
  if x==0:
    print(items, end=' ') 
for items in L2:
  x=0
  for i in L1:
    if items==i:
      x+=1
  if x==0:
    print(items, end=' ')

27 27 14 24 23 17 23 28 15 15 26 21 11 10 30 12 16 19 13 13

(iii)

In [12]:
print(min(L1))
print(min(L2))

14
10

(iv)

In [13]:
print(max(L1))
print(max(L2))

28
30

(v)

In [15]:
S3=[]
for items in L1:
  S3.append(items)
for items in L2:
  S3.append(items)
print(S3)

[27, 27, 14, 24, 23, 17, 23, 28, 15, 15, 26, 21, 11, 10, 30, 12, 16, 19, 13, 13]

Question 6

(i)

In [19]:
import random as r
i=0
L=[]
while(i<100):
  L.append(r.randint(100,901))
  i+=1
print(L)

[614, 447, 158, 174, 190, 217, 285, 160, 372, 100, 131, 644, 139, 123, 255, 121, 719, 829, 200, 325, 390, 811, 421, 256, 492, 268, 373, 858, 117, 241, 381, 578, 401, 699, 880, 430, 556, 266, 808, 123, 314, 512, 767, 635, 558, 501, 872, 331, 495, 378, 298, 380, 547, 637, 787, 648, 678, 517, 825, 367, 889, 737, 112, 346, 265, 753, 336, 547, 340, 458, 812, 634, 181, 136, 800, 527, 206, 593, 582, 265, 558, 630, 577, 477, 377, 131, 347, 322, 385, 470, 638, 705, 726, 817, 535, 581, 799, 179, 520, 630]

In [20]:
for items in L:
  if items%2!=0:
    print(items)

447
217
285
131
139
123
255
121
719
829
325
811
421
373
117
241
381
401
699
123
767
635
501
331
495
547
637
787
517
825
367
889
737
265
753
547
181
527
593
265
577
477
377
131
347
385
705
817
535
581
799
179

(ii)

In [21]:
for items in L:
  if items%2==0:
    print(items)

614
158
174
190
160
372
100
644
200
390
256
492
268
858
578
880
430
556
266
808
314
512
558
872
378
298
380
648
678
112
346
336
340
458
812
634
136
800
206
582
558
630
322
470
638
726
520
630

(iii)

In [24]:
for items in L:
  for a in range(2,(items//2)+1):
    if items%a==0:
      x+=1
  if x==0:
    print(f"{items} is a prime number")

Question 7

In [30]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
f=open('Sample.txt','w')
for items in D:
  f.write(f"{items}->{D[items]}\n")
f.close()

Question 8

In [33]:
L={"One","Two","Three","Four","Five"}
f=open('Sample2.txt','w')
for items in L:
  f.write(f"{items}->{len(items)}\n")
f.close()

Question 9

In [34]:
import random as r
import string as s
i=0
while i<100:
  x=r.randint(10,15)
  strings=r.sample(s.ascii_letters,x)
  strings="".join(strings)
  print(strings)
  i+=1

sNRSdAtmZU
aYGDxpbHBIh
vPSuYodwOUEMrc
tKRXHTmNSpZDIOu
LYgdFuEpSjqDzno
QtMrSTKfjxgOG
fOenEFsHGw
CjSRJniVLExO
BfDsgVvRxq
AZdvXVQWum
XOUpjaucfoLReD
GblhMFULweWoC
FlBhrAGmVTqjPwX
AlNoVmjJgedfSK
mPnZNdzkJUqVE
FdEUCIYOruptohP
wJyKkxCMQdYlZ
yWFrIlDPqak
JlkgiVLYpKvmZX
tpocRWQEsTNqI
FPJrAcWUMhxZGNQ
gLPvnuhxVSDmRZf
tNFVwBPxSk
PuHrLaRhXzwc
ipPmZJgEuGktjFX
lYCqxBSMopE
OeVfRIhqWYaDTXx
zbYAcSFWxZ
NcYGzRKJPrZjl
FkmncKibGlwY
rFtGuEgSfRp
itdUnIkfqJ
GJiKfnAIwrQHvxt
IOwVdBWiMF
NSyoUwtLPZD
DLvqhiguWpNRcK
KNyxTVRjoBuHrv
TzpwSeRruOn
xQzVHoCJcIXdU
FUqvXEplmfkD
qOAcpvZTteo
ewONHurojAYa
AonhwWDOtilITKH
JkSQudBErO
RXkyCPQSav
OIZkGypQuL
CFDtZAGqWj
eTfdBjQSVA
fiObaHgclwq
NmqFhCnGWzOpyc
jTfhbGIviy
MtQXUkyxuqV
tlfyFICuvm
kKsRELXlWv
ZbGSguQdHD
SxahEIQyvHZD
hcZUwRYxBK
GIWwxHSYcvUARVr
fsrKGkBMRDXPlYQ
aoTqpsPdutOGVUk
HlmEeiXxoAD
MlupQkvGNWrIK
yEQrpuPDGfzR
tjaTUSgdBc
kRTIaveAMJfFj
erBGFLDgcQkMI
ktcYCrBieEgDvd
MuewRdcIqC
EgCQNdfexLBW
CkcWdUPhmDtBHR
MqEgpIbXLfwCY
PTxLIeglyOU
pzwoAltRhe
ukgzbXnelOM
MDbEeGfJwo
QmHjizMlaEhqfY
olfqQDGjIykmFa
IQfKcBGlpsn
xjcFigUHTqs
AVIsoSDCzJ
CsklPtufrv
xrAjPTJouW
IRvcMljTaN
LhoiNkJfrIyHT
SCQrlaBPVy
JskOubrSAgHfmo
vHGhaDuUtjOZMe
RdNFALDUkZV
GKRmjYqtLkvE
VBXtuavsbkgPx
rXwfmShobL
WVdksiHxyX
VCRUyLXeIKrs
ZuTVcnHqDgIS
CiMEFXJKoZUS
oiaLrZBMVA
iyeURZXbvYHQFD
xYrVJmZfwpinoK
GhSrZsvNOt
LtuJRlohHfxpWG

Question 10

In [35]:
for i in range(600,800):
  x=0
  for a in range(2,(i//2)+1):
    if i%a==0:
      x+=1
  if x==0:
    print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

Question 11

In [37]:
import time
begin=time.time()
for i in range(600,800):
  x=0
  for a in range(2,(i//2)+1):
    if i%a==0:
      x+=1
  if x==0:
    print(i)
time.sleep(1)
end=time.time()
print(f"Time taken to execute is {end-begin}")

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
Time taken to execute is 1.034306287765503

Question 13

In [40]:
import numpy as np
import pandas as pd
D={"Subjects":["English","Mtahs","Physics","C++","Python"],
   "Marks":[98,95,86,92,90]}
df=pd.DataFrame(D)

In [41]:
df

  Subjects  Marks
0  English     98
1    Mtahs     95
2  Physics     86
3      C++     92
4   Python     90

In [42]:
df.describe()

           Marks
count   5.000000
mean   92.200000
std     4.604346
min    86.000000
25%    90.000000
50%    92.000000
75%    95.000000
max    98.000000