<a href="https://colab.research.google.com/github/Vedant817/Python-Assignements/blob/main/Mini_Project_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [586]:
import pandas as pd
import numpy as np

In [587]:
df=pd.read_csv('/content/Mini Project-4csv.csv')

In [588]:
df

       Roll Num  Marks
0     102003542      1
1     102003640      1
2     102003725      1
3     102003307      1
4     102003458      1
...         ...    ...
1831  102003755      1
1832  102017147      1
1833  102017152      1
1834  102003451      1
1835  102003549      1

[1836 rows x 2 columns]

In [589]:
df['Roll Num'].value_counts()

102003542    5
102016044    5
102017171    5
102003767    5
102003125    5
            ..
102003396    1
102003690    1
102003582    1
102003089    1
102180347    1
Name: Roll Num, Length: 400, dtype: int64

In [590]:
df['Marks'].value_counts()

1    1761
0      75
Name: Marks, dtype: int64

In [591]:
df=df.replace(0,np.nan)

In [592]:
df=df.dropna()

In [593]:
group_roll=df.groupby(['Roll Num'])

In [594]:
df['Marks'].value_counts()

1.0    1761
Name: Marks, dtype: int64

In [595]:
group_roll['Marks'].value_counts()

Roll Num   Marks
102003001  1.0      3
102003002  1.0      5
102003017  1.0      5
102003018  1.0      5
102003029  1.0      5
                   ..
102196010  1.0      4
102197016  1.0      5
102197018  1.0      4
102197019  1.0      5
102197021  1.0      5
Name: Marks, Length: 399, dtype: int64

**Adding the Required Data Frame in to the new one**

In [596]:
newdf=pd.DataFrame(df['Roll Num'].unique())

In [597]:
newdf

             0
0    102003542
1    102003640
2    102003725
3    102003307
4    102003458
..         ...
394  102003690
395  102003149
396  102003089
397  102017073
398  102180347

[399 rows x 1 columns]

In [598]:
newdf.rename(columns={0:'Roll Number'},inplace=True)

In [599]:
newdf.set_index('Roll Number', inplace=True)

In [600]:
newdf.sort_index(ascending=True,inplace=True)

In [601]:
newdf

Empty DataFrame
Columns: []
Index: [102003001, 102003002, 102003017, 102003018, 102003029, 102003030, 102003037, 102003039, 102003041, 102003042, 102003049, 102003050, 102003053, 102003056, 102003069, 102003070, 102003071, 102003082, 102003083, 102003085, 102003089, 102003090, 102003098, 102003099, 102003101, 102003105, 102003106, 102003109, 102003112, 102003113, 102003116, 102003117, 102003118, 102003124, 102003125, 102003127, 102003128, 102003129, 102003131, 102003132, 102003135, 102003137, 102003138, 102003139, 102003140, 102003141, 102003146, 102003149, 102003152, 102003156, 102003157, 102003158, 102003160, 102003161, 102003162, 102003164, 102003165, 102003166, 102003169, 102003171, 102003173, 102003177, 102003178, 102003184, 102003205, 102003206, 102003207, 102003220, 102003228, 102003235, 102003238, 102003242, 102003243, 102003251, 102003253, 102003256, 102003257, 102003274, 102003288, 102003290, 102003293, 102003295, 102003299, 102003304, 102003306, 102003307, 102003312, 102003313, 102003315, 102003318, 102003322, 102003323, 102003333, 102003334, 102003346, 102003355, 102003356, 102003362, 102003364, 102003366, ...]

[399 rows x 0 columns]

In [602]:
newdf['Total Marks']=list(group_roll['Marks'].value_counts())

In [603]:
newdf

             Total Marks
Roll Number
102003001              3
102003002              5
102003017              5
102003018              5
102003029              5
...                  ...
102196010              4
102197016              5
102197018              4
102197019              5
102197021              5

[399 rows x 1 columns]